@font-face {
    font-family: "qingsong";
    src: url("qingsong.eot"); /* IE9 */
    src: url("qingsong.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("qingsong.woff") format("woff"), /* chrome、firefox */
    url("qingsong.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("qingsong.svg#qingsong") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


